<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/Capture.PNG" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">GoCamp</h4>
          <h5>Created interface to view campgrounds distribution across the country to help find campgrounds without a hitch. </h5>
          <a href="https://github.com/niithin/GoCamp_Project" class="btn btn-primary stretched-link">SourceCode</a>
        
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/Capture1.PNG" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">BlogSite</h4>
           <h5>Developed a blog site using Django for maintaining blogs added by users and showing information useful for all domains. </h5>
          <a href="https://github.com/niithin/Django-BlogSite" class="btn btn-primary stretched-link">SourceCode</a>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/plside-300x208.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">EZ-Toll Plaza Database Management Systems </h4>
          <h5>Developed a database for toll management to keep track of the user’s vehicle data and route path at toll plaza. </h5>
        </div>
      </div>
    </div>
    </div>
    
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/Capture2.PNG" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Angular8-PortFolio</h4>
           <h5> Designed a portfolio in Angular 8 by creating different components</h5>
          <a href="#" class="btn btn-primary stretched-link">SourceCode</a>
        </div>
    </div>
    </div>
      </div>
    </div>
    </div>
  </div>